.container {
    display: flex;
    justify-content: space-between;
}

.dark {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.light {
    background-color: rgba(63, 39, 150, 0.3);
    z-index: 1;
}

.navbar-nav {
    height: 70px !important;
    align-items: center;
}

.navbar-nav a {
    color: White !important;
    text-decoration: none !important;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 19px;
}

.navbar-nav a.active {
    text-decoration: underline !important;
    font-size: 20px;
    text-shadow: 2px 4px 4px #000;
}

body {
    background-image: url('https://i1.pickpik.com/photos/168/515/807/camera-canon-girl-lens-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white !important;
}

.footer {
    position: absolute;
    bottom: 0;
}

.footer p {
    font-size: 18px;
    margin: 0px;
}

.social-info img {
    height: 20px;
    margin-left: 20px;
}


.card--image {
    width: 170px;
    height: 235px;
    top: 521px;
    left: 37px;
    gap: 0px;
    border-radius: 9px;
    opacity: 0px;
}

.card--text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.airbnb--cards {
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    margin-left: 1rem;
}

.card--badge {
    background-color: darkgray;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    width: 23px;
    text-align: center;
    margin-bottom: 2px;
}